body {
    background-color: #f0f0f0;
}

caption {
    background-color: rgb(170, 170, 200);
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 1.2em;
    border: 3px solid;
}

thead th {
    color: rgb(200, 190, 240);
    background-color: rgb(35, 37, 70);
}

td {
    padding: 15px;
    text-align: center;
    border: 1px dotted;
}

.andereMaand {
    color: grey;
}

td:first-child,td:last-child {
    background-color: rgb(255, 220, 220);
}

.zestiende {
    background-color: rgb(250, 120, 120);
}

table{
    border: 3px solid black;
}