body{
    font-family: verdana, serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: small-caps;
    background-color: crimson;
}

a:hover{
    border: red 1px dot-dash;
}

.stippelrand{
    border: dotted 1px;
}

