.card-youtube {
    background-color: #FF0000;
    color: white;
}
.card-google {
    background-color: #4285F4;
    color: white;
}

.card-twitter {
    background-color: #1DA1F2;
    color: white;
}

.card-instagram {
    background-color: #C13584;
    color: white;
}